<h1>貸出詳細画面</h1>
<p><%= notice %></p>
<p>タイトル: <%= @rental.book_name %></p>
<p>貸出し日: <%= @rental.lending_start_date %></p>
<p>返却予定日: <%= @rental.lending_end_date %></p>

<%= link_to "貸出一覧画面にもどる", rentals_path %>
